@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'reset.css';

body {
    font-family: "Poppins", sans-serif;
    background-color: #099A97;
}

header {
    background-color: #122C34;
    padding: 20px 0 35px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    margin-bottom: 1.5%;
}


h1 {
    color: #099A97;
    font-size: 58px;
}

h2 {
    color: #099A97;
    font-size: 24px;
    text-align: center;
}

main {
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}   

.principal__conteudo{
    background-color: #F1E4E4;
    padding: 25px 82px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__conteudo *:not(:last-child){
    margin-bottom: 20px;
}

.principal__imagem {
    width: 100%;
}

h3 {
    color: #099A97;
    font-size: 32px;
    text-align: center;
}

.container__valores{   
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container__valores > *{
    background-color: #9764C7;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
}

.container__valores > article > p{
    text-align: center;
}

.title{
    color: #15CDA8;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
}

.container__valores > article > p:not(.title){
    color: #F1E4E4;
    font-size: 16px;
    margin-bottom: 32px;  
}

.container__programas {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.container__programas > *{
    background-color: #F1E4E4;
    border-radius: 10px;
    padding: 25px 28px;
    
}

.titulo__programa{
    color: #099A97;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.container__programas > article > p > span{
    color: #099A97;
    font-weight: 800;
}

.container__forms {
    width: 70%;
    margin: 5% auto;
}

.formulario {
    background-color: #F1E4E4;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px;
}

h4 {
    font-size: 24px;
    margin-bottom: 2px;
}

#nome, #mensagem, #email{
    border-radius: 25px;
    padding: 10px 20px;
    border: solid gray 1px;
    
}

#mensagem{
    resize: none;
    font-size: 16px;
}

.botao__formulario {
    background-color: #9764C7;
    width: 200px;
    padding: 16px 0;
    border-radius: 20px;
    border: solid black 1px;
    font-size: 20px;
    font-weight: 600;
}


.avaliacao {
    background-color: #F1E4E4;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 3% 0;
}

h5{
    color: #099A97;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.avaliacao > span{
    background-color: #9764C7;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 25px;
    border-radius: 15px;
}

.avaliacao > span > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 20%;
}

.avaliacao > span > div > img{
    border: solid #122C34 5px;
    border-radius: 50%;
    width: 90%;
}

.avaliacao > span > div > p{
    color: #F1E4E4;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.usuarios{
    color: #15CDA8;
    font-weight: 800;
}

.avaliacao > span > p{
    color: #F1E4E4;
    font-size: 20px;
    font-weight: 600;
    text-wrap: wrap;
    width: 80%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #122C34;
    padding: 44px 0;
}

footer *{
    color: #F1E4E4;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1000px) {
    main{
        padding: 5% 10%;
    }
    .container__valores > article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    .container__valores{
        flex-wrap: wrap;
    }
}


@media (max-width: 860px) {
    .logo {
        width: 100px;
    }
    
    h1{
        font-size: 42px;
    }

    header {
        padding: 5% 3%;
    }
    .principal__conteudo{
        padding: 5%;
    }
    .avaliacao > span {
        flex-direction: column;
    } 
    .avaliacao > span > div {
        flex-direction: row;
        width: 100%;
    }
    .avaliacao > span > div > img{
        width: 20%;
    }
    .avaliacao > span > div > p{
        text-align: start;
    }
}

@media (max-width: 680px) {

    main{
        padding: 5%;
    }

    .container__forms {
        width: 85%;
    }

    .avaliacao > span{
        width: 80%;
    }

    .avaliacao > span > p{
        text-align: justify; 
        width: 100%;
    }

    footer{
        padding: 5%;
    }
}

@media (max-width: 420px) {

    .logo{
        width: 80px;
    }

    h1{
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    main{
        padding: 5% 3%;
    }
    h3, h5, .titulo__programa {
        font-size: 24px;
    }

    .principal__conteudo{
        padding: 5% 3%;
    }

    .principal__conteudo > p{
        width: 90%;
        text-align: justify;
    }

    .container__valores > article{
        padding: 5%;
        width: 75%;
    }
    .container__valores > article > img{
        width: 100%;
    }

    .container__programas > article > p:not(.titulo__programa){
        text-align: justify;
    }

    .formulario{
        align-items: center;
        padding: 5% 7%;
    }

    #mensagem, #nome, #email{
        width: 90%;
    }

    .botao__formulario {
        padding: 12px 0;
        font-size: 16px;
    }

    .avaliacao > span > div > img{
        width: 50px;
    }

    .avaliacao > span > p{
        font-size: 16px;
    }

    footer *{
        font-size: 16px;
        margin-bottom: 2%;
    }
}